{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-object-rest-spread",
    "transform-react-remove-prop-types",
    "transform-class-properties",
    ["transform-runtime", {"polyfill": false}],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "^@awc$": "./src/components/index.js",
        "^@awc/(.+)": "./src/components/\\1",
        "^@stories": "./.stories/index.js",
        "^@stories/(.+)$": "./stories/\\1"
      },
      "extensions": [".js"]
    }]
  ]
}
