// Blue brand colors
$ui-1: #f4f7fb;
$ui-2: #dfe3e6;
$ui-3: #cdd1d4;
$ui-4: #8897a2;
$ui-5: #5a6871;
$ui-6: #152934;

$blue-01: #0080ab;
$blue-02: #aedee9;
$green-01: #80a53f;
$white: #ffffff;
$atta-red: #e10600;

// Translation of old to new colors

$white-smoke: $ui-1;
$whisper: $ui-1;
$tundra-wolf: $ui-2;
$timber-wolf: $ui-3;
$table-header: $ui-3;
$hint-text: $ui-4;
$accordion-header: $ui-4;
$tertiary-links: $ui-4;
$slate: $ui-5;
$tertiary-links-over: $ui-5;
$black: $ui-6;
$slate-dark: $ui-6;
$jet: $ui-6;
$true-blue-active: $blue-01;
$true-blue-links: $blue-01;
$true-blue-hover: $blue-02;
$gatorade: $green-01;
$rosso-corsa: $atta-red;
$tongue: $atta-red;
$cardinal: $atta-red;
$crimson: $atta-red;
$bansky: $atta-red;
$blood: $atta-red;
$wine: $atta-red;
